body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0;
}

.fstclass {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    font-size: 60px;
    color: white;
}

.donation-amount {
    display: flex;

}

.donation-area {
    margin: 6%;
    padding: 10px 40px;
    box-shadow: 2px 2px 2px 2px gold;
}

.alert-area {
    margin: 6%;
    padding: 10px 40px;
    background-color: pink;
    box-shadow: 2px 2px 2px 2px pink;

}

.alert-area-2 {
    margin: 6%;
    padding: 10px 40px;
    background-color: cyan;
    box-shadow: 2px 2px 2px 2px cyan;


}

.alert-area-3 {
    margin: 6%;
    padding: 10px 40px;
    background-color: darkkhaki;
    box-shadow: 2px 2px 2px 2px darkkhaki;

}


.donation-area-two {
    margin: 6%;
    padding: 10px 40px;
    box-shadow: 2px 2px 2px 2px red;
}

.new-button {
    text-decoration: none;
    font-size: 30px;
    background-color: brown;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 15%;
    border: 3px;

}

.subs {
    text-decoration: none;
    font-size: 30px;
    background-color: chartreuse color;
    color: black;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 15%;
    border: 3px;

}

.others {
    font-weight: lighter;
    text-align: center;
    margin-left: 20%;
}

.half-width {
    font-weight: lighter;
    font-size: 150%;
    padding: 2%;
}

.left {
    text-align: left;
    font-size: 150%;
}

.lastbg {
    background-color: blueviolet;
    background-position: inherit;
    height: 200%;
}

.footerjj {
    font-size: 250%;
}