body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0%;
}

.fstclass {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    font-size: 60px;
    color: white;

}

.flexible-box {
    display: flex;

}

property {
    margin: 20px;
    color: aqua;
    font-weight: 200;
    padding: 20%;
}

h3 {
    color: white;
}

.new-button {
    text-decoration: none;
    font-size: 30px;
    background-color: brown;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 15%;
    border: 3px;

}